body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#F1FAEE;
}

.avatar {
    width: 150px;
    border-radius: 100%;
}

.card {
    border-radius: 1rem;
    background-color: #A8DADC;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #1D3557;
    border-bottom: 6px solid #d8cefe;
    /* line-height: 10rem; */
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}


.border-blue {
    border: 1px dotted blue;
}

h3:hover {
    color:#457B9D;
    cursor:pointer;
    animation-delay: 0.05ms;
    /* color:red; */
}
p:hover {
    color:#457B9D;
    cursor:pointer;
    animation-delay: 0.05ms;
    /* color:red; */
}
h4:hover {
    color:#457B9D;
    cursor:pointer;
    animation-delay: 0.05ms;
    /* color:red; */
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

